<div th:fragment="edit">
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalTitle">Edit user</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="editForm">
          <div class="modal-body">
            <div class="mb-2">
              <label class="control-label font-weight-bold" for="id">Id</label>
              <input class="form-control form-control-range" id="id" disabled="disabled"/>
            </div>
            <div class="mb-2">
              <label class="control-label font-weight-bold" for="username">Username</label>
              <input class="form-control form-control-range" id="username"/>
              <div class="text-danger" id="usernameErr"></div>
            </div>
            <div class="mb-2">
              <label class="control-label font-weight-bold" for="name">First name</label>
              <input class="form-control form-control-range" id="name"/>
              <div class="text-danger" id="nameErr"></div>
            </div>
            <div class="mb-2">
              <label class="control-label font-weight-bold" for="surname">Last name</label>
              <input class="form-control form-control-range" id="surname"/>
              <div class="text-danger" id="surnameErr"></div>
            </div>
            <div class="mb-2">
              <label class="control-label font-weight-bold" for="email">Email</label>
              <input class="form-control form-control-range" id="email"/>
              <div class="text-danger" id="emailErr"></div>
            </div>
            <div class="mb-2">
              <label class="control-label font-weight-bold" for="password">Password</label>
              <input class="form-control form-control-range" type="password" id="password" />
              <div class="text-danger" id="passErr"></div>
            </div>
            <div class="form-group form-control-range mb-2">
              <label class="control-label font-weight-bold" for="fuserRoles">Role</label>
              <select multiple class="form-control" id="fuserRoles"  required>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary"  id="closemodal" data-dismiss="modal">Close</button>
            <button type="button" onclick="updateUser()" class="btn btn-info">Edit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>